@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

/* MAIN CLASSES */
h1 {
  font-family: "Raleway", sans-serif;
}

h2 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
}

/* Debug mode */

.debug {
  border: 2px solid red;
}

/* NO TEXT DECORATION */
a,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
/*  */

/* PADDING FOR MOBILE */

@media only screen and (max-width: 769px) {
  .centercontent {
    text-align: center;
  }

  .specialcontent {
    text-align: center;
  }
}

@media only screen and (min-width: 1023px) {
  html {
    scroll-behavior: smooth;
    overflow-y: scroll;
  }

  .specialcontent {
    text-align: right;
  }
}
/*  */

/* BURGER LEFT */
.navbar-brand.left-burger {
  align-items: flex-start;
}

.navbar-brand.left-burger .navbar-burger {
  margin-left: 0;
  margin-right: 0;
}
/*  */

/* ANIMATIONS */
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(65vh);
  }

  100% {
    opacity: 1;
    transform: translateY(0vh);
  }
}

.slide-up {
  animation: slide-up 2s;
}

.navbar-item {
  color: white;
  mix-blend-mode: difference;
}
/*  */

/* NAVBAR */
.navbar {
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 2vh;
}

/* Center navbar */
.navbar-center {
  flex-grow: 1;
  justify-content: center;
}

.navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
/*  */

.parallax {
  background-image: url("../assets/background.png");
  height: 100vh;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* PERSONAL CLASSES */
.bigName {
  background-color: transparent;
  font-family: "Prompt", sans-serif;
  font-size: 8vw;
  padding-top: 60vh;
  color: #ffbe0b;
}

.bioLeftText {
  font-size: xx-large;
}

.hobbyIcon {
  /* padding-bottom: 5em; */
  height: 150px;
  width: auto;
}

#arrow {
  width: 150px;
}

/* Icons */
.profileIcon {
  height: 10vh;
  width: auto;
}

.compIcon {
  height: 10vh;
  width: auto;
}

.profilePicText {
  font-family: "Comfortaa";
}

/* CARD SHADOW */
.has-shadow {
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.199);
}
