<div class="container has-text-centered">
    <svg class="mt-6" xmlns="http://www.w3.org/2000/svg" height="512" viewbox="0 0 64 64" width="324">
        <g id="_404_Error-Error-404-Page_Not_Found-Seo_And_Web"
            data-name="404 Error-Error-404-Page Not Found-Seo And Web">
            <path
                d="m61 11v42a2.015 2.015 0 0 0 -2-2 2.006 2.006 0 0 0 -2 2v-1a1.94 1.94 0 0 0 -.42-1.22 3.955 3.955 0 0 0 .42-1.78v-42a4 4 0 0 1 4 4z"
                fill="#bddbff"></path>
            <path d="m57 7v4h-54v-4a4 4 0 0 1 4-4h46a4 4 0 0 1 4 4z" fill="#bddbff"></path>
            <path d="m45 53v4l-2-3.46a1.965 1.965 0 0 0 -.45-.54z" fill="#bddbff"></path>
            <path d="m39.54 55.54.84 1.46h-29.38a4 4 0 0 1 -4-4h32.98a2 2 0 0 0 -.44 2.54z" fill="#bddbff"></path>
            <path
                d="m49 17h-38a2.006 2.006 0 0 0 -2 2v26a2.006 2.006 0 0 0 2 2h34v-2a2.006 2.006 0 0 1 2-2 2.015 2.015 0 0 1 2 2v2a2.006 2.006 0 0 0 2-2v-26a2.006 2.006 0 0 0 -2-2z"
                fill="#bddbff"></path>
            <g fill="#3d9ae2">
                <path d="m21 30h-2v4h-3.523l3.452-8.628-1.858-.744-4 10a1 1 0 0 0 .929 1.372h5v3h2v-3h2v-2h-2z"></path>
                <path d="m45 30h-2v4h-3.523l3.452-8.628-1.858-.744-4 10a1 1 0 0 0 .929 1.372h5v3h2v-3h2v-2h-2z"></path>
                <path
                    d="m30 25a5.006 5.006 0 0 0 -5 5v4a5 5 0 0 0 10 0v-4a5.006 5.006 0 0 0 -5-5zm3 9a3 3 0 0 1 -6 0v-4a3 3 0 0 1 6 0z">
                </path>
                <path
                    d="m57.91 6.09a5 5 0 0 0 -4.91-4.09h-46a5 5 0 0 0 -5 5v42a5 5 0 0 0 4.09 4.91 5 5 0 0 0 4.91 4.09h28.8l2.6 4.5 1.73-1-3.73-6.46a1.013 1.013 0 0 1 -.1-.76 1.006 1.006 0 0 1 1.23-.71.971.971 0 0 1 .6.47l2 3.46a1.022 1.022 0 0 0 1.13.47 1 1 0 0 0 .74-.97v-12a1 1 0 0 1 2 0v9a1 1 0 0 0 2 0v-3a1.074 1.074 0 0 1 1-1 1 1 0 0 1 1 1v3a1 1 0 0 0 2 0v-2a1 1 0 0 1 2 0v3a1 1 0 0 0 2 0v-2a1 1 0 0 1 2 0v9h2v-51a5 5 0 0 0 -4.09-4.91zm-46.91 49.91a3.01 3.01 0 0 1 -2.82-2h30.15a2.958 2.958 0 0 0 .32 2zm36-14a3.009 3.009 0 0 0 -3 3v1h-33a1 1 0 0 1 -1-1v-26a1 1 0 0 1 1-1h38a1 1 0 0 1 1 1v26a3.009 3.009 0 0 0 -3-3zm9 7c0 .06-.02.12-.02.19a2.894 2.894 0 0 0 -.98-.19 2.934 2.934 0 0 0 -1.47.39 3 3 0 0 0 -2.53-1.39 2.82 2.82 0 0 0 -1 .19v-.37a3.01 3.01 0 0 0 2-2.82v-26a3.009 3.009 0 0 0 -3-3h-38a3.009 3.009 0 0 0 -3 3v26a3.009 3.009 0 0 0 3 3h33v4h-1.15a3.28 3.28 0 0 0 -.81-.36 2.956 2.956 0 0 0 -2.27.3l-.09.06h-32.68a3.009 3.009 0 0 1 -3-3v-37h52zm0-39h-52v-3a3.009 3.009 0 0 1 3-3h46a3.009 3.009 0 0 1 3 3zm4 40.18a2.81 2.81 0 0 0 -2.17.08 4.845 4.845 0 0 0 .17-1.26v-40.82a3.01 3.01 0 0 1 2 2.82z">
                </path>
                <path d="m6 6h2v2h-2z"></path>
                <path d="m10 6h2v2h-2z"></path>
                <path d="m14 6h2v2h-2z"></path>
            </g>
        </g>
    </svg>
    <h1 class="title is-1 mt-6"> Oups ! Il semblerait que vous vous soyiez perdu.</h1><a class="subtitle is-2 mt-6"
        href="/">⬅ Retourner à l'accueil </a>
</div>